<!DOCTYPE html>
<html>
  <head>
    <title>Express Dev Skills</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Express Dev Skills</h1>
    <nav>
        <a href="/">Home</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/skills">All Skills</a>
        &nbsp;&nbsp;|&nbsp;&nbsp;
        <a href="/skills/new">Add Skill</a>
    </nav>