<%- include('../partials/header') %> 

<h1>My Skills</h1>
<ul>
    <% skills.forEach(s => { %>
    <li>
      <a href="/skills/<%= s.technology %>">
        <%= s.technology %> 
      </a>    
    </li>
   <% }); %>
</ul>

<%- include('../partials/footer') %>