<%- include('../partials/header') %>
<br>
<form action="/skills" method="POST" autocomplete="off">
    <label for="technology">Skill:  </label>
    <input type="text" name="technology">
    &nbsp;
    <label for="type">Type: </label>
    <input type="text" name="type">
    <br>
    <br>
    <button type="submit">Add Skill</button>
</form>

<%- include('../partials/footer') %>